In [123]:
import pandas as pd
import os
import numpy as np
from shapely.geometry import Point
import geopandas as gpd

In [2]:
## Greater Manchester LSOA and MSOA
# Set the path of the file
lu2021 = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/gm_lsoas2021.csv'
lu2011 = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/gm_lsoas2011.csv'
lu2001 = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/gm_lsoas2001.csv'
postcode = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/postcode_gm2021.csv'

# Load the CSV file into a DataFrame
gm2021 = pd.read_csv(lu2021)
gm2011 = pd.read_csv(lu2011)
gm2001 = pd.read_csv(lu2001)
postcodegm2021 = pd.read_csv(postcode)

## CO2 Emissions

In [68]:
## 2024 data
# Define the file path
file_path = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/co2emissionsenglandandwales.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(file_path)

# See the sheet names
print("Sheet names:", excel_file.sheet_names)

# Load sheets into separate DataFrames
df1 = pd.read_excel(excel_file, sheet_name=0)  # All dwellings
df2 = pd.read_excel(excel_file, sheet_name=1)  # Type

Sheet names: ['3a', '3b']

In [69]:
# Keep only the last three columns
df1_trimmed = df1.iloc[:, -3:]

# Convert column names to snake_case
df1_trimmed.columns = (
    df1_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

# Keep only the last four columns
df2_trimmed = df2.iloc[:, -4:]

# Convert column names to snake_case
df2_trimmed.columns = (
    df2_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [70]:
# Select only the columns needed from df1_trimmed
dwellings = df1_trimmed[['middle_super_output_layer_msoa_code', 'all_dwellings']]

# Merge into df2_trimmed
df2_with_dwellings = pd.merge(
    df2_trimmed,
    dwellings,
    on='middle_super_output_layer_msoa_code',
    how='left'
)

In [71]:
# Filter df2_with_dwellings to keep only rows with MSOA codes in gm2021
df_gm_only = df2_with_dwellings[
    df2_with_dwellings['middle_super_output_layer_msoa_code'].isin(gm2021['msoa21cd'])
]

# Replace "[x]" with NaN across the entire DataFrame
df_gm_only_cleaned = df_gm_only.replace("[x]", np.nan)

# Add year:
df_gm_only_cleaned['year'] = 2024

/var/folders/9q/x_qkm_295r77cyh7zn22pj3h0000gn/T/ipykernel_1841/235425539.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_gm_only_cleaned = df_gm_only.replace("[x]", np.nan)

In [72]:
## Now 2023
# Define the file path
file_path = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/co2emissionsenglandandwales2023.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(file_path)

# See the sheet names
print("Sheet names:", excel_file.sheet_names)

# Load DataFrame
df2 = pd.read_excel(excel_file, sheet_name=1)  # Type

Sheet names: ['3a', '3b']

In [73]:
# Suppose your current DataFrame is 'df' and row index 2 has the real headers
df2.columns = df2.iloc[2]  # Set the 3rd row as the header
df2 = df2[3:]              # Drop the first 3 rows (0, 1, and 2)
df2 = df2.reset_index(drop=True)  # Reset the index

In [74]:
# Keep only the last four columns
df2_trimmed = df2.iloc[:, -5:]

# Convert column names to snake_case
df2_trimmed.columns = (
    df2_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [75]:
# Filter df2_with_dwellings to keep only rows with MSOA codes in gm2021
df_gm_only2023 = df2_trimmed[
    df2_trimmed['middle_super_output_layer_msoa_code'].isin(gm2021['msoa21cd'])
]

# Replace "[x]" with NaN across the entire DataFrame
df_gm_only2023 = df_gm_only2023.replace("[x]", np.nan)

# Add year:
df_gm_only2023['year'] = 2023

In [76]:
# Export
# df_gm_only_cleaned.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/co2_emmissions_2024.csv", index=False)
# df_gm_only2023.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/co2_emmissions_2023.csv", index=False)

## Median Energy Efficiency Score

In [78]:
## 2024 data
# Define the file path
file_path = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/medianenergyefficiencyscoreenglandandwales.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(file_path)

# See the sheet names
print("Sheet names:", excel_file.sheet_names)

# Load sheets into separate DataFrames
df1 = pd.read_excel(excel_file, sheet_name=0)  # All dwellings
df2 = pd.read_excel(excel_file, sheet_name=1)  # Type

Sheet names: ['3a', '3b']

In [81]:
# Keep only the last three columns
df1_trimmed = df1.iloc[:, -3:]

# Convert column names to snake_case
df1_trimmed.columns = (
    df1_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

# Keep only the last four columns
df2_trimmed = df2.iloc[:, -4:]

# Convert column names to snake_case
df2_trimmed.columns = (
    df2_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [84]:
# Select only the columns needed from df1_trimmed
dwellings = df1_trimmed[['middle_super_output_layer_msoa_code', 'all_dwellings']]

# Merge into df2_trimmed
df2_with_dwellings = pd.merge(
    df2_trimmed,
    dwellings,
    on='middle_super_output_layer_msoa_code',
    how='left'
)

In [86]:
# Filter df2_with_dwellings to keep only rows with MSOA codes in gm2021
df_gm_only = df2_with_dwellings[
    df2_with_dwellings['middle_super_output_layer_msoa_code'].isin(gm2021['msoa21cd'])
]

# Replace "[x]" with NaN across the entire DataFrame
df_gm_only_cleaned = df_gm_only.replace("[x]", np.nan)

# Add year:
df_gm_only_cleaned['year'] = 2024

/var/folders/9q/x_qkm_295r77cyh7zn22pj3h0000gn/T/ipykernel_1841/235425539.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_gm_only_cleaned = df_gm_only.replace("[x]", np.nan)

In [90]:
## Now 2023
# Define the file path
file_path = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/medianenergyefficiencyscoreenglandandwalesup2023.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(file_path)

# See the sheet names
print("Sheet names:", excel_file.sheet_names)

# Load DataFrame
df2 = pd.read_excel(excel_file, sheet_name=0)  # Type

Sheet names: ['3b']

In [92]:
# Keep only the last four columns
df2_trimmed = df2.iloc[:, -5:]

# Convert column names to snake_case
df2_trimmed.columns = (
    df2_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [94]:
# Filter df2_with_dwellings to keep only rows with MSOA codes in gm2021
df_gm_only2023 = df2_trimmed[
    df2_trimmed['middle_super_output_layer_msoa_code'].isin(gm2021['msoa21cd'])
]

# Replace "[x]" with NaN across the entire DataFrame
df_gm_only2023 = df_gm_only2023.replace("[x]", np.nan)

# Add year:
df_gm_only2023['year'] = 2023

In [97]:
# Export
# df_gm_only_cleaned.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/eff_scores_2024.csv", index=False)
# df_gm_only2023.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/eff_scores_2023.csv", index=False)

## Main Fuel Type

In [98]:
## 2024
# Define the file path
file_path = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/mainfueltypeenglandandwales.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(file_path)

# See the sheet names
print("Sheet names:", excel_file.sheet_names)

# Load DataFrame
df = pd.read_excel(excel_file, sheet_name=0)  # Type

Sheet names: ['3a']

In [100]:
# Keep only the last four columns
df_trimmed = df.iloc[:, -10:]

# Convert column names to snake_case
df_trimmed.columns = (
    df_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [102]:
# Filter df2_with_dwellings to keep only rows with MSOA codes in gm2021
df_gm_only2024 = df_trimmed[
    df_trimmed['middle_super_output_layer_msoa_code'].isin(gm2021['msoa21cd'])
]

# Replace "[x]" with NaN across the entire DataFrame
df_gm_only2024 = df_gm_only2024.replace("[x]", np.nan)

# Add year:
df_gm_only2024['year'] = 2024

/var/folders/9q/x_qkm_295r77cyh7zn22pj3h0000gn/T/ipykernel_1841/74702473.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_gm_only2024 = df_gm_only2024.replace("[x]", np.nan)

In [104]:
## 2023
# Define the file path
file_path = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/mainfueltypeenglandandwales2023.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(file_path)

# See the sheet names
print("Sheet names:", excel_file.sheet_names)

# Load DataFrame
df = pd.read_excel(excel_file, sheet_name=0)  # Type

Sheet names: ['3a']

In [106]:
# Keep only the last four columns
df_trimmed = df.iloc[:, -10:]

# Convert column names to snake_case
df_trimmed.columns = (
    df_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [107]:
# Filter df2_with_dwellings to keep only rows with MSOA codes in gm2021
df_gm_only2023 = df_trimmed[
    df_trimmed['middle_super_output_layer_msoa_code'].isin(gm2021['msoa21cd'])
]

# Replace "[x]" with NaN across the entire DataFrame
df_gm_only2023 = df_gm_only2023.replace("c", np.nan)

# Add year:
df_gm_only2023['year'] = 2023

/var/folders/9q/x_qkm_295r77cyh7zn22pj3h0000gn/T/ipykernel_1841/1799420942.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_gm_only2023 = df_gm_only2023.replace("c", np.nan)

In [111]:
# Export
# df_gm_only2024.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/fuel_type_2024.csv", index=False)
# df_gm_only2023.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/fuel_type_2023.csv", index=False)

## Energy Performance Certificate

In [112]:
# Define the file path
file_path = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/epcbandcoraboveenglandandwales.xlsx"

# Load the Excel file
excel_file = pd.ExcelFile(file_path)

# See the sheet names
print("Sheet names:", excel_file.sheet_names)

# Load DataFrame
df = pd.read_excel(excel_file, sheet_name=0)  # Type

Sheet names: ['3a']

In [114]:
# Keep only the last four columns
df_trimmed = df.iloc[:, -3:]

# Convert column names to snake_case
df_trimmed.columns = (
    df_trimmed.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

In [117]:
# Filter df2_with_dwellings to keep only rows with MSOA codes in gm2021
df_gm_only2024 = df_trimmed[
    df_trimmed['middle_super_output_layer_msoa_code'].isin(gm2021['msoa21cd'])
]

# Replace "[x]" with NaN across the entire DataFrame
df_gm_only2024 = df_gm_only2024.replace("[x]", np.nan)

# Add year:
df_gm_only2024['year'] = 2024

In [120]:
# Export
# df_gm_only2024.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/epc_2024.csv", index=False)

## Primary Substations

In [170]:
# Load the CSV
df_substations = pd.read_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/GB_PS_data.csv")

# Split 'Geo(Long,Lat)' into two columns
df_substations[['Longitude', 'Latitude']] = df_substations['Geo(Long,Lat)'].str.strip("()").str.split(",", expand=True)

# Convert to float
df_substations['Longitude'] = df_substations['Longitude'].astype(float)
df_substations['Latitude'] = df_substations['Latitude'].astype(float)

# Check result
print(df_substations[['Longitude', 'Latitude']].head())

   Longitude   Latitude
0  -2.495094  53.730154
1  -2.225912  53.307961
2  -2.435255  54.812568
3  -2.963194  54.423142
4  -2.227189  53.485969

In [171]:
# Create geometry column from Longitude and Latitude
geometry = gpd.points_from_xy(df_substations['Longitude'], df_substations['Latitude'])

# Create GeoDataFrame
gdf_substations = gpd.GeoDataFrame(df_substations, geometry=geometry, crs="EPSG:4326")

# Preview the result
print(gdf_substations.head())

                   PS Name  Firm Capacity (MVA)  Demand (MVA)        PF  \
0                albion st               22.863     11.720532  0.998712
1      alderley & chelford               28.310     17.003134  0.975600
2                   alston                1.700      1.531605  0.985752
3                ambleside               17.800      9.192532  0.993175
4  ancoats north t11 & t12               22.863     17.347102  0.992857

                            Geo(Long,Lat)               GSP  DNO  Longitude  \
0   -2.4950937454916797,53.73015403195597          ROCHDALE  ENW  -2.495094
1    -2.225911796847622,53.30796142675533  SOUTH MANCHESTER  ENW  -2.225912
2   -2.4352546655219385,54.81256830516162            HUTTON  ENW  -2.435255
3    -2.963194161426022,54.42314157846089            HUTTON  ENW  -2.963194
4  -2.2271891138444646,53.485968874301655         WHITEGATE  ENW  -2.227189

    Latitude                   geometry
0  53.730154  POINT (-2.49509 53.73015)
1  53.307961  POINT (-2.22591 53.30796)
2  54.812568  POINT (-2.43525 54.81257)
3  54.423142  POINT (-2.96319 54.42314)
4  53.485969  POINT (-2.22719 53.48597)

In [172]:
# Load the LSOA shapefile
gdf_lsoa = gpd.read_file("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/shapefiles/Lower_layer_Super_Output_Areas_December_2021_Boundaries_EW_BSC_V4_-5236167991066794441/LSOA_2021_EW_BSC_V4.shp")

# Check the columns and CRS
print(gdf_lsoa.columns)
print(gdf_lsoa.crs)

Index(['LSOA21CD', 'LSOA21NM', 'LSOA21NMW', 'BNG_E', 'BNG_N', 'LAT', 'LONG',
       'GlobalID', 'geometry'],
      dtype='object')
EPSG:27700

In [173]:
# Make sure the LSOA codes in gm2021 match the column in gdf_lsoa
gm_lsoa_codes = gm2021['lsoa21cd']  # Adjust column name if needed

# Filter LSOA shapefile to only GM LSOAs
gdf_lsoa_gm = gdf_lsoa[gdf_lsoa['LSOA21CD'].isin(gm_lsoa_codes)]

In [174]:
# Reproject substations to same CRS as LSOA
gdf_substations = gdf_substations.to_crs(gdf_lsoa_gm.crs)

# Spatial join to map substations to LSOAs
gdf_joined = gpd.sjoin(gdf_substations, gdf_lsoa_gm, how="left", predicate="within")

# Count number of substations in each LSOA
substations_per_lsoa = gdf_joined.groupby('LSOA21CD').size().reset_index(name='n_substations')

print(substations_per_lsoa.head())

    LSOA21CD  n_substations
0  E01004775              1
1  E01004776              1
2  E01004780              1
3  E01004786              1
4  E01004809              1

In [175]:
# Group by LSOA21CD and calculate mean
averages_per_lsoa = gdf_joined.groupby('LSOA21CD')[
    ['Firm Capacity (MVA)', 'Demand (MVA)', 'PF']
].mean().reset_index()

# Rename columns to snake_case and more readable
averages_per_lsoa.columns = [
    'lsoa21cd', 'avg_firm_capacity_mva', 'avg_demand_mva', 'avg_pf'
]

# Preview
print(averages_per_lsoa.head())

    lsoa21cd  avg_firm_capacity_mva  avg_demand_mva    avg_pf
0  E01004775                 32.000       21.647483  0.997744
1  E01004776                 22.863       17.797984  0.994990
2  E01004780                 22.863       15.833026  0.998127
3  E01004786                 16.700       12.707517  0.992624
4  E01004809                 16.700       10.993326  0.997567

In [176]:
# Rename count DataFrame column for clarity
substations_per_lsoa.columns = ['lsoa21cd', 'n_substations']

# Merge both DataFrames
lsoa_summary = pd.merge(substations_per_lsoa, averages_per_lsoa, on='lsoa21cd')

# Preview
print(lsoa_summary.head())

    lsoa21cd  n_substations  avg_firm_capacity_mva  avg_demand_mva    avg_pf
0  E01004775              1                 32.000       21.647483  0.997744
1  E01004776              1                 22.863       17.797984  0.994990
2  E01004780              1                 22.863       15.833026  0.998127
3  E01004786              1                 16.700       12.707517  0.992624
4  E01004809              1                 16.700       10.993326  0.997567

In [177]:
# Make sure lsoa21cd is lowercase in both DataFrames
gm2021['lsoa21cd'] = gm2021['lsoa21cd'].str.upper()  # Just in case
lsoa_summary['lsoa21cd'] = lsoa_summary['lsoa21cd'].str.upper()

# Merge LSOA names into summary
lsoa_summary_named = pd.merge(
    lsoa_summary,
    gm2021[['lsoa21cd', 'lsoa21nm']],
    on='lsoa21cd',
    how='left'
)

# Optional: reorder columns
lsoa_summary_named = lsoa_summary_named[[
    'lsoa21cd', 'lsoa21nm', 'n_substations',
    'avg_firm_capacity_mva', 'avg_demand_mva', 'avg_pf'
]]

# Preview
print(lsoa_summary_named.head())

    lsoa21cd     lsoa21nm  n_substations  avg_firm_capacity_mva  \
0  E01004775  Bolton 014A              1                 32.000
1  E01004776  Bolton 031A              1                 22.863
2  E01004780  Bolton 009B              1                 22.863
3  E01004786  Bolton 006C              1                 16.700
4  E01004809  Bolton 003E              1                 16.700

   avg_demand_mva    avg_pf
0       21.647483  0.997744
1       17.797984  0.994990
2       15.833026  0.998127
3       12.707517  0.992624
4       10.993326  0.997567

In [178]:
# Merge gm2021 (full list) with the summary we created
full_lsoa_summary = pd.merge(
    gm2021[['lsoa21cd', 'lsoa21nm']],
    lsoa_summary_named,
    on=['lsoa21cd', 'lsoa21nm'],
    how='left'
)

# Fill missing values with 0
full_lsoa_summary[['n_substations', 'avg_firm_capacity_mva', 'avg_demand_mva', 'avg_pf']] = (
    full_lsoa_summary[['n_substations', 'avg_firm_capacity_mva', 'avg_demand_mva', 'avg_pf']]
    .fillna(0)
)

# Add year:
full_lsoa_summary['year'] = 2024

In [180]:
# Export
# full_lsoa_summary.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/processed/ps_2024.csv", index=False)

## Low Carbon Technologies (LCT)

In [200]:
#Load data
df_lct2 = pd.read_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/low-carbon-technologies.csv")

In [201]:
# Split coordinates into latitude and longitude
df_lct2[['Latitude', 'Longitude']] = df_lct2['SpatialCoordinates'].str.split(",", expand=True).astype(float)

In [202]:
gdf_lct2 = gpd.GeoDataFrame(
    df_lct2,
    geometry=gpd.points_from_xy(df_lct2['Longitude'], df_lct2['Latitude']),
    crs="EPSG:4326"
)

In [203]:
# Reproject to match GM shapefile
gdf_lct2 = gdf_lct2.to_crs(gdf_lsoa_gm.crs)

# Spatial join
gdf_lct2_gm = gpd.sjoin(gdf_lct2, gdf_lsoa_gm, how='inner', predicate='within')

# Check how many matches
print(len(gdf_lct2_gm))

0

## Outage History

In [220]:
# Load data
filepath = "/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/ukpn-ehv-network-outages.csv"

# Lat and Long:
# Extract lat/lon from 'Spatial Coordinates'
df[['Latitude', 'Longitude']] = df['Spatial Coordinates'].str.split(",", expand=True).astype(float)

# Convert to GeoDataFrame
gdf_outages = gpd.GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df['Longitude'], df['Latitude']),
    crs="EPSG:4326"
)

In [221]:
# Reproject to match LSOA shapefile
gdf_outages = gdf_outages.to_crs(gdf_lsoa_gm.crs)

# Join only outages that fall within Greater Manchester LSOAs
gdf_outages_gm = gpd.sjoin(gdf_outages, gdf_lsoa_gm, how='inner', predicate='within')

In [225]:
# No GM
print(gdf_outages['Latitude'].min(), gdf_outages['Latitude'].max())
print(gdf_outages['Longitude'].min(), gdf_outages['Longitude'].max())

50.7581693825457 52.9451163821106
-0.958709314218283 1.75733078863318

## Secondary Substations

In [226]:
#Load data
df = pd.read_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/raw_data/energy/ukpn_secondary_postcode_area.csv")

In [229]:
# Extract lat/lon from 'Geo Point'
df[['Latitude', 'Longitude']] = df['Geo Point'].str.split(",", expand=True).astype(float)

In [233]:
# Convert to GeoDataFrame
gdf_check = gpd.GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df['Longitude'], df['Latitude']),
    crs="EPSG:4326"
)

In [234]:
# Reproject to match GM LSOA shapefile
gdf_check = gdf_check.to_crs(gdf_lsoa_gm.crs)

# Spatial join
gdf_check_gm = gpd.sjoin(gdf_check, gdf_lsoa_gm, how='inner', predicate='within')

# Result
print(f"Number of entries in Greater Manchester: {len(gdf_check_gm)}")

Number of entries in Greater Manchester: 0