In [5]:
import pandas as pd

## Tables with LSOA and MSOA areas

In [6]:
# Set the path of the file
file_path2021 = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/raw/2021_24_UK.csv'
file_path2011 = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/raw/2011_21_UK.csv'
file_path2001 = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/raw/Lower_Layer_Super_Output_Area_(2001)_to_Lower_Layer_Super_Output_Area_(2011)_to_Local_Authority_District_(2011)_Lookup_in_England_and_Wales.csv'

# Load the CSV file into a DataFrame
lsoa2021 = pd.read_csv(file_path2021, encoding='latin1') 
lsoa2011 = pd.read_csv(file_path2011, encoding='latin1') 
lsoa2001 = pd.read_csv(file_path2001, encoding='latin1')

/var/folders/9q/x_qkm_295r77cyh7zn22pj3h0000gn/T/ipykernel_6801/1377427897.py:7: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  lsoa2021 = pd.read_csv(file_path2021, encoding='latin1')
/var/folders/9q/x_qkm_295r77cyh7zn22pj3h0000gn/T/ipykernel_6801/1377427897.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  lsoa2011 = pd.read_csv(file_path2011, encoding='latin1')

In [7]:
# List of Greater Manchester LAD codes
gm_lads = [
    "E08000001", "E08000002", "E08000003", "E08000004", 
    "E08000005", "E08000006", "E08000007", "E08000008", 
    "E08000009", "E08000010"
]

# Filter rows where LAD21CD is in Greater Manchester list
gm_lsoas2021 = lsoa2021[lsoa2021["ladcd"].isin(gm_lads)]
gm_lsoas2011 = lsoa2011[lsoa2011["ladcd"].isin(gm_lads)]
gm_lsoas2001 = lsoa2001[lsoa2001['LAD11CD'].isin(gm_lads)]

In [8]:
gm_lsoas2021 = gm_lsoas2021[["lsoa21cd", "msoa21cd", "ladcd", "lsoa21nm", "msoa21nm", "ladnm"]].drop_duplicates()
gm_lsoas2011 = gm_lsoas2011[["lsoa11cd", "msoa11cd", "ladcd", "lsoa11nm", "msoa11nm", "ladnm"]].drop_duplicates()
gm_lsoas2001 = gm_lsoas2001[["ï»¿LSOA01CD","LSOA01NM","LSOA11CD","LSOA11NM"]]

gm_lsoas2001.columns = [col.lower().replace("ï»¿", "") for col in gm_lsoas2001.columns]

In [9]:
gm_lsoas2021.head()

         lsoa21cd   msoa21cd      ladcd   lsoa21nm  msoa21nm ladnm
199485  E01005014  E02001019  E08000002  Bury 001A  Bury 001  Bury
199490  E01005017  E02001019  E08000002  Bury 001D  Bury 001  Bury
199492  E01005015  E02001019  E08000002  Bury 001B  Bury 001  Bury
199520  E01005022  E02001021  E08000002  Bury 003B  Bury 003  Bury
199538  E01005016  E02001019  E08000002  Bury 001C  Bury 001  Bury

In [10]:
gm_lsoas2011.head()

         lsoa11cd   msoa11cd      ladcd   lsoa11nm  msoa11nm ladnm
196429  E01005014  E02001019  E08000002  Bury 001A  Bury 001  Bury
196434  E01005017  E02001019  E08000002  Bury 001D  Bury 001  Bury
196436  E01005015  E02001019  E08000002  Bury 001B  Bury 001  Bury
196469  E01005022  E02001021  E08000002  Bury 003B  Bury 003  Bury
196481  E01005016  E02001019  E08000002  Bury 001C  Bury 001  Bury

In [11]:
gm_lsoas2001.head()

       lsoa01cd     lsoa01nm   lsoa11cd     lsoa11nm
2540  E01004768  Bolton 001A  E01004768  Bolton 001A
2548  E01004803  Bolton 001B  E01004803  Bolton 001B
2586  E01004804  Bolton 001C  E01004804  Bolton 001C
2592  E01004807  Bolton 001D  E01004807  Bolton 001D
2626  E01004808  Bolton 001E  E01004808  Bolton 001E

In [12]:
# Export to CSV files without index
# gm_lsoas2021.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/gm_lsoas2021.csv", index=False)
# gm_lsoas2011.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/gm_lsoas2011.csv", index=False)
# gm_lsoas2001.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/gm_lsoas2001.csv", index=False)

## From Postcode to LSOA

In [13]:
# Set the path of the file
file_path = '/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/raw/PCD_OA21_LSOA21_MSOA21_LAD_FEB25_UK_LU.csv'

# Load the CSV file into a DataFrame
postcode = pd.read_csv(file_path, encoding='latin1')

/var/folders/9q/x_qkm_295r77cyh7zn22pj3h0000gn/T/ipykernel_6801/666943757.py:5: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  postcode = pd.read_csv(file_path, encoding='latin1')

In [15]:
# Filter rows where LAD21CD is in Greater Manchester list
postcode_gm = postcode[postcode["ladcd"].isin(gm_lads)]

In [18]:
# postcode_gm.to_csv("/Users/alexander/Documents/MSc Data Science/S2/Applying Data Science/dp/lookup/processed/postcode_gm2021.csv", index=False)